<nav class="text-fuchsia-600 flex justify-between items-center ">

  <div>
    <a href="/" class=""><img src="../../public/images/dutyCALL.PNG" class="w-24" /></a>
  </div>

  <ul class="hidden md:flex md:items-center gap-2">
    <li><a href="/" class="p-2 rounded text-blue-400 hover:text-gray-300">Home</a></li>
    <li><a href="#" class="p-2 rounded text-blue-400  hover:text-gray-300">Contact</a></li>
      <div class="p-2 rounded text-blue-400  hover:text-gray-300">
        <form class="logout-form">
          <button type="submit">Log Out</button>
        </form>
      </div>
  </ul>


<div>
  <button class="md:hidden px-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
    </svg>
  </button>
</div>
  
</nav>

  <script src="public/javascript/index.js"></script>