<nav class="text-fuchsia-600 flex justify-between py-4 px-8">
  <a href="/" class="">Logo</a>

  <ul class="hidden md:flex flex-row items-center align-middle gap-8">
    <li><a href="#" class="p-2 rounded text-blue-400 hover:text-gray-800">HOME</a></li>
    <li><a href="#" class="p-2 rounded text-blue-400  hover:text-gray-8000">ABOUT</a></li>
    <li><a href="#" class="p-2 rounded text-blue-400  hover:text-gray-800">CONTACT</a></li>
  </ul>


<div>
  <button class="md:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
    </svg>
  </button>
</div>
  
</nav>