<section class="flex justify-center items-center bg-gradient-to-br from-yellow-200 via-green-800 to-gray-900">
  <div class="h-screen w-full flex flex-col justify-center items-center rounded-lg bg-no-repeat bg-center"
    style="background-image: url(../public/images/border4.png)">


  <div class="">
    ERROR, does not exist, plehehe
  </div>



  </div>
</section>


