<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />

    <title>Duty UP</title>
</head>

<body class="bg-gray-900  flex flex-col justify-center items-center m-12 ">

    <h1 class="font-bold text-3xl text-yellow-600">My Appointments</h1>
    <div class="appt-section text-white">
        <p>


        </p>
            
    </div>

</body>
<script src="public/javascript/appointment.js"></script>
</html>