
<body class="">




    <div class=" text-gray-700 ml-12 pt-2 border-4 border-blue-400 rounded-lg font-serif no-underline text-center">
      <a href="/carpenter" target="right">Carpenter</a><br />
      <a href="./stylesheets/staff/electrian.html" target="right">Electrician</a><br />
      <a href="./stylesheets/staff/gardener.html" target="right">Gardener</a><br />
      <a href="./stylesheets/staff/mechanic.html" target="right">Mechanic</a><br />
      <a href="./stylesheets/staff/plumber.html" target="right">Plumber</a><br />
      <a href="./stylesheets/staff/contractor.html" target="right">Contractor</a><br />
      <a href="./stylesheets/staff/roofer.html" target="right">Roofer</a><br />
      <a href="./stylesheets/staff/pool.html" target="right">Pool </a><br /><br />
    </div>
<!-- 
<div class="card">
  <div class="card__inner">

    <div class="card__face card__face--front">
      <button type="submit" class="ml-6 text-3xl text-blue-900">Meet our Staff!</button>
    </div>

    <div class="card__face card__face--back">
      <div class="card__content">
        <div class="card__header">
          <img src="./tuiltuyik.png" class="pp" />
          <h2>MY Name</h2>
        </div>

        <div class="card__body">
          <a>Java Script Witch</a>
        

        </div>

      </div>
    </div> -->

  </div>
</div>





 




  <script src="card.js"></script>
</body>
</html>