<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <title>Duty Call</title>
  <!-- <img src="../public/stylesheets/images/IMG_0746.PNG" width="150" /> -->
</head>

<body class="bg-gray-800 text-gray-400">
  


  <!-- PHOTO DISPLAY SECTION HERE  -->
  <section class="profile-pic border-4 border-gray-600 rounded-lg p-8"></section>
  <a class="border-2 bg-gray-800 text-white p-2 rounded-lg text-sm hover:bg-green-600" href="/upload">Update Image</a>
  <a class="border-2 bg-gray-800 text-white p-2 rounded-lg text-sm hover:bg-green-600" href="/appointment">View Appointments</a>

  <div class="text-center">
    <form class="logout-form">
      <button type="submit">Log Out</button>
    </form>
  </div>

  <div class='text-center'>
    <h1>How can we assist you <%= name %>?</h1>
  </div>

  <div class="flex flex-col">

    <div class="border-4 border-gray-600 rounded-lg">
        <!-- HANDYMEN DISPLAY -->
 
      <iframe class="box" src="../public/employees.html"   
        width="20%"
        height="300"
        align="left"
        scrolling="no" 
        frameborder="0" ></iframe>
    </div>

    <div class=" border-4 border-gray-600 rounded-lg">

     
      <iframe
        src="../public/profile-info.html"
        name="right"
        frameborder="0"
        scrolling="no"
        width="90%"
        height="850"
        align="right"
      ></iframe>
    </div>
    <div class="clear"></div>

  </div>
</body>



<footer>
  
</footer>

<script src="public/javascript/index.js"></script>

</html>