<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Duty Call</title>
    <img src="stylesheets/images/IMG_0746.PNG" width="150" />
  </head>
  <div class="md:border-4 border-green-500"></div>


  <body>
      <div class='text-center'>
    How can we assist you <%= name %>?  
</div>
    <div class="box">
      <iframe
        src="./employees.html"
        frameborder="0"
        scrolling="no"
        width="10%"
        height="512"
        align="left"
      ></iframe>
    </div>
    <div>
      <iframe
        src="./employee-info.html"
        name="right"
        frameborder="0"
        scrolling="no"
        width="90%"
        height="850"
        align="center"
      ></iframe>
    </div>
    <div class="clear"></div>
  </body>
<footer>
<div class="text-center">
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</div>
</form>
</footer>
</html>
