<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <title>Duty Call</title>
</head>

<body class="bg-gradient-to-br from-yellow-200 via-green-800 to-gray-900 rounded-lg">


<div>
  <main class="bg-fixed bg-no-repeat bg-cover bg-center" style="background-image: url(../public/images/bg1.jpg)">
  
    <%- body %>
  
  </main>
</div>

 


  <footer class=" text-blue-800 text-xs flex justify-between p-2">
    <h2 class="">Made with 🦾</h2>
    <p class="">&copy; 2022 CASK, Inc.</p>
  </footer>

<script src="public/javascript/index.js"></script>
</body>
</html>