<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <title>Duty Call | Login</title>   
</head>




<section class="flex justify-center items-center ">
    <div class="h-screen w-full py-12 px-12 flex flex-col justify-center items-center rounded-lg bg-no-repeat bg-center" style="background-image: url(../public/images/border4.png)">        
        
        <div class="flex flex-col items-center mt-2">
            <h1 class="font-bold text-3xl text-yellow-600">Sign in to Duty Call</h1>
            <img src="../public/images/dutyCALL.PNG" class="w-40" />
        </div>

        <form id="login-form" class="max-w-sm w-full text-gray-200 mt-4 px-8 md:px-6">
            <div class="flex flex-col md:flex-row">
                <!-- name = email will connect name to server -->
            <label class="sr-only" for='email'>Email</label>                    
            <input class=" bg-yellow-100 mt-4 border border-gray-600 rounded-lg py-2 px-4 w-full md:mx-2 placeholder-gray-800" placeholder="exampemail@email.com" type='email' id='email' name='email' required>
            
            <!-- name = name will connect name to server -->
            <label class="sr-only" for='name'>Password</label>                    
            <input class="bg-yellow-100 mt-4 border border-gray-600 rounded-lg py-2 px-4 w-full md:mx-2 placeholder-gray-800 " placeholder="Password" type='password' id='password' name='password' required>
            </div>
            
            <div class="flex md:flex-row md:-mx-2">
            <button class="text-yellow-600 font-bold hover:text-green-300 text-sm mt-4 rounded-lg py-2 px-4 w-full md:mx-2"
                        type='submit'>Login</button>
            
                    <!-- use anchor to connect back to login page -->
            <a class="text-yellow-600 font-bold hover:text-green-300 hover:text-green-300 text-sm mt-4 rounded-lg py-2 px-4 w-full md:mx-2" href='/register'>Register</a>
            </div>
        </form>

    </div>
<script src="/public/javascript/login.js"></script>
</section>
</html>