<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="../public/stylesheets/images/IMG_0746.PNG">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<h1>Login</h1>


<form class="login-form">
    <div>
        <label for='email'>Email</label>
        <!-- name = email will connect name to server -->
        <input type='email' id='email' name='email' required>
    </div>
    <div>
        <label for='name'>Password</label>
        <!-- name = name will connect name to server -->
        <input type='password' id='password' name='password' required>
    </div>
    <button type='submit'>Login</button>
</form> 
<!-- use anchor to connect back to login page -->
<a href='/register'>Register</a>

<script src="public/javascript/login.js"></script>