



<section class="flex justify-center items-center bg-gradient-to-br from-yellow-200 via-green-800 to-gray-900">
    <div class="h-screen w-full flex flex-col justify-center items-center rounded-lg bg-no-repeat bg-center" style="background-image: url(../public/images/border4.png)">        
        
        <div class="flex flex-col items-center ">
            <img src="../public/images/dutyCALL.PNG" class="w-40" />
            <h1 class="font-bold text-3xl text-yellow-600">Sign In</h1>            
        </div>

        <form id="login-form" class="max-w-sm w-full text-gray-200 mt-4 px-8 md:px-6">
            <div class="flex flex-col md:flex-row">
                <!-- name = email will connect name to server -->
            <label class="sr-only" for='email'>Email</label>                    
            <input class=" bg-yellow-100 mt-4 border border-gray-600 rounded-lg py-2 px-4 w-full md:mx-2 placeholder-gray-800" placeholder="exampemail@email.com" type='email' id='email' name='email' required>
            
            <!-- name = name will connect name to server -->
            <label class="sr-only" for='name'>Password</label>                    
            <input class="bg-yellow-100 mt-4 border border-gray-600 rounded-lg py-2 px-4 w-full md:mx-2 placeholder-gray-800 " placeholder="Password" type='password' id='password' name='password' required>
            </div>
            
            <div class="flex md:flex-row pl-4 ">
            <button class="text-yellow-600 font-bold hover:text-green-300 text-sm mt-4 rounded-lg py-2 px-4 w-full md:mx-2"
                        type='submit'>Login</button>
            
                    <!-- use anchor to connect back to login page -->
            <a class="text-yellow-600 font-bold hover:text-green-300 hover:text-green-300 text-sm mt-4 rounded-lg py-2 px-4 w-full md:mx-2" href='/register'>Register</a>
            </div>
        </form>

    </div>
<script src="/public/javascript/login.js"></script>
</section>
