

<!-- 
  <body class="">
    <div>

      <h2 class="text-2xl text-blue-500 p-6">Find your match today</h2>

      
      JUST A BACKGROUND FOR NOW
      this is profile-info.html

    <img class='img' src="stylesheets/images/team.png" />
    </div>
  </body>
</html>


 -->
