
<section class="flex justify-center items-center ">
    <div class="h-screen w-full flex flex-col justify-center items-center rounded-lg bg-no-repeat bg-center mt-16" style="background-image: url(../public/images/border4.png)">

        <div class="flex flex-col items-center ">
            <img src="../public/images/dutyCALL.PNG" class="w-40" />
            <h1 class="font-bold text-3xl text-yellow-600">Register</h1>
        </div>

        <!-- post route to register -->
        <form id="register-form" class="max-w-sm w-full text-gray-200 mt-4 mb-40 px-8 md:px-6">
            <div class="flex flex-col md:flex-row ">
            <label class="sr-only" for='name'>Name</label>
            <input class="bg-yellow-100 mt-6 border border-gray-600 rounded-lg py-1 px-4 w-full md:mx-2 placeholder-gray-800" placeholder="Name" type='text' id='name' name='name' required>

            <label class="sr-only" for='email'>Email</label>
            <input class="bg-yellow-100 mt-6 border border-gray-600 rounded-lg py-1 px-4 w-full md:mx-2 placeholder-gray-800" placeholder="exampemail@email.com" type='email' id='email' name='email' required>
            </div>

            <div class="flex flex-col md:flex-row ">
            <label class="sr-only" for='name'>Password</label>
            <input class="bg-yellow-100 mt-6 border border-gray-600 rounded-lg py-1 px-4 w-full md:mx-2 placeholder-gray-800" placeholder="Password" type='password' id='password' name='password' required>

            <label class="sr-only" for='address1'>Address 1</label>
            <input class="bg-yellow-100 mt-6 border border-gray-600 rounded-lg py-1 px-4 w-full md:mx-2 placeholder-gray-800" placeholder="Address 1" type='text' id='address1' name='address1' required>
            </div>

            <div class="flex flex-col md:flex-row ">
            <label class="sr-only" for='address1'>Address 2</label>
            <input class="bg-yellow-100 mt-6 border border-gray-600 rounded-lg py-1 px-4 w-full md:mx-2 placeholder-gray-800" placeholder="Address 2" type='text' id='address2' name='address2'>

            <label class="sr-only" for='city'>City</label>
            <input class="bg-yellow-100 mt-6 border border-gray-600 rounded-lg py-1 px-4 w-full md:mx-2 placeholder-gray-800" placeholder="City" type='text' id='city' name='city' required>
            </div>

            <div class="flex flex-col md:flex-row ">
            <label class="sr-only" for='state'>State</label>
            <input class="bg-yellow-100 mt-6 border border-gray-600 rounded-lg py-1 px-4 w-full md:mx-2 placeholder-gray-800" placeholder="State" type='text' id='state' name='state' required>

            <label class="sr-only" for='zipcode'>Zip Code</label>
            <input class="bg-yellow-100 mt-6 border border-gray-600 rounded-lg py-1 px-4 w-full md:mx-2 placeholder-gray-800" placeholder="Zip Code" type='text' id='zipcode' name='zipcode' required>
            </div>


            <div class="flex ml-12 mt-4 md:flex-row">
            <button class="text-yellow-600 font-bold hover:text-green-300 text-sm rounded-lg w-full " type='submit'>Signup</button>
                <!-- use anchor to connect back to login page -->
            <a class="text-yellow-600 font-bold hover:text-green-300 text-sm rounded-lg  w-full" href='/login'>Login</a>
            </div>
        </form>
    </div>

    <script src="public/javascript/register.js"></script>
