<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />

    <title>Duty UP</title>
</head>

<body class="w-full h-full">

    <div>
        <%- include('./partials/nav.ejs') %>
            <div class="text-center">
                <form class="logout-form">
                    <button type="submit">Log Out</button>
                </form>
            </div>
    </div>

    <div class="flex flex-col items-center p-4 mt-40">

    <h1 class="font-bold text-3xl text-yellow-600">Upload Image</h1>
    <form class="img-form text-gray-500 p-16"  method="POST" action="/api/user/upload" enctype="multipart/form-data">
        <input id="img" type="file" name="image" class="text-black">
        <input class="bg-gray-700  hover:text-green-300 rounded-lg px-4 py-1 " type="submit">
    </form>

    </div>

</body>

</html>