.box{
    float:left;
    margin-right:20px;
}
.clear{
    clear:both;
}

.handy-man {
    
    width:  560px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: 300px;
    width: 50%;
    border-radius: 5%;

}

.profile-pic {
  background-image: url('../stylesheets/images/nav.jpg');
}
